$navbar-height: 10vh;

html {
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.btnAction {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

.btnRemove {
  background-color: #dc3545;
}

.btnEdit {
  background-color: #0d6efd;
}

#timer {
  position: fixed;
  left: 0;
  top: 50%;
  padding: 10px 20px;
  background-color: bisque;
}

.navBar {
  position: fixed;
  background-color: bisque;
  text-align: center;
  width: 100%;
  height: $navbar-height;
  top: 0;
  box-shadow: 0px 1px 2px 1px teal;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
    li {
      margin-right: 50px;
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}

.content {
  height: 100vh;
  padding-top: 70px;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 50%;
    padding: 30px;
    input {
      padding: 15px;
      border-radius: 30px;
      width: 60%;
      &:focus {
        outline: none;
      }
    }
  }
}

#saveUser {
  background-color: burlywood;
  margin-top: 30px;
  border-radius: 50px;
  padding: 20px 50px;
  border: none;
  cursor: pointer;
}
